<footer>
  <div class="row">
    <div class="col-sm-12 links">
      <a href="https://github.com/rhalff" target="_blank">
        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        <span>Github</span>
      </a>
      <a href="https://medium.com/@rhalff" target="_blank">
        <i class="fa fa-medium fa-2x" aria-hidden="true"></i>
        <span>Medium</span>
      </a>
      <a href="https://twitter.com/rhalff" target="_blank">
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        <span>Twitter</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 signature">
      &#169; {{year}} - Robbert Halff
      <a matTooltip="Show changelog"
         matTooltipPosition="before"
         href="https://github.com/rhalff/specsh/blob/master/CHANGELOG.md">
        <i class="fa fa-rocket"></i> {{version}}
      </a>
    </div>
  </div>
</footer>
