<div class="schema">
  <mat-card
    *ngFor="let schema of (schemas$ | async)"
  >
    <mat-card-header>
      <mat-card-title>
        <h3>{{schema.name}}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{schema.schema.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button
        [routerLink]="['/schemas', schema.name, 'edit']"
        routerLinkActive="active"
        mat-raised-button>
        Edit
      </button>
      <button
        [routerLink]="['/schemas', schema.name, 'layout']"
        routerLinkActive="active"
        mat-raised-button>
        Layout
      </button>
      <button
        [routerLink]="['/editor', schema.name]"
        routerLinkActive="active"
        mat-raised-button>
        Document Menu
      </button>
      <button
        (click)="remove(schema.name)"
        mat-raised-button>
        Remove
      </button>
    </mat-card-actions>
  </mat-card>
</div>
