<div class="schema-layout">
   <mat-card>
     <h1>Layouts: {{schemaName}}</h1>
     <p>
       Here you find the layouts belonging to {{schemaName}}.

       Layouts for forms, tables, cards whatever needs to display a {{schemaName}}
     </p>
     <mat-card-content>
     </mat-card-content>
     <mat-card-actions>
       <button
         [routerLink]="['/schemas', this.schemaName, 'layout', 'form']"
         mat-raised-button>
         Add Form
       </button>
       <button
         (click)="addView()"
         mat-raised-button>
         Add view
       </button>
     </mat-card-actions>
   </mat-card>
</div>
