// * { border: 1px solid red !important; }
@import './variables';

// @import '../node_modules/bootstrap/scss/bootstrap-reboot';
// @import '../node_modules/bootstrap/scss/bootstrap-grid';
// @import '../node_modules/bootstrap/scss/utilities';

// @import '../node_modules/font-awesome/scss/font-awesome';

@import './reset';

@import '../../node_modules/@angular/material/theming';
@include mat-core();
$app-primary: mat-palette($mat-blue);
$app-accent:  mat-palette($mat-amber, A200, A100, A400);
$app-warn:    mat-palette($mat-red);
$app-theme:   mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);

@import 'themes/default-theme';
@import 'themes/light-theme';
@import 'themes/black-theme';
@import 'themes/rhalff-theme';

@import './reset.theme';

@mixin custom-components-theme($theme) {
  @include specsh-styles-reset-theme($theme);
  /*
  @include specsh-app-component-theme($theme);
  @include specsh-about-component-theme($theme);
  @include specsh-big-input-component-theme($theme);
  @include specsh-todos-component-theme($theme);
  @include specsh-examples-component-theme($theme);
  @include specsh-parent-component-theme($theme);
  @include specsh-child-component-theme($theme);
  */
}

.default-theme {
  @include angular-material-theme($specsh-theme);
  @include custom-components-theme($specsh-theme);
}

.light-theme {
  @include angular-material-theme($specsh-light-theme);
  @include custom-components-theme($specsh-light-theme);

  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.black-theme {
  @include angular-material-theme($specsh-black-theme);
  @include custom-components-theme($specsh-black-theme);
}

.rhalff-theme {
  @include angular-material-theme($specsh-rhalff-theme);
  @include custom-components-theme($specsh-rhalff-theme);
}

html, body {
  display: flex;
  font-family: Roboto, Arial, sans-serif;
  flex-direction: column;
  height: 100%;
}
