<mat-card>
  <mat-card-content>
    <button
      class="mat-raised-button"
      (click)="listProjects($event)">
      List projects
    </button>

    <button
      class="mat-raised-button"
      (click)="createProject($event)">
      Create new project
    </button>

  </mat-card-content>
</mat-card>
