<mat-toolbar color="primary">
  <ng-content></ng-content>

  <span routerLink="" class="branding spacer">
    <!-- img [src]="logo"/ -->
    Spec.sh - User Requirements Document Editor
  </span>

  <span class="hidden-sm-down">
    <button
      mat-button
      class="nav-button"
      *ngFor="let item of navigation"
      [routerLink]="[item.link]"
      routerLinkActive="active"
    >{{item.label}}</button>
  </span>

  <!--
  <button mat-button class="sign-in-button"
    *ngIf="!isAuthenticated"
    (click)="onLoginClick()">Sign in</button>
  -->

  <!-- app specific buttons for user -->
  <app-commit
    *ngIf="isAuthenticated"
  ></app-commit>

  <user-menu
    [isAuthenticated]="isAuthenticated"
    (themeChanged)="themeChange($event)"
    (logout)="logout($event)"
    (signIn)="signIn($event)"
    (signUp)="signUp($event)"
  ></user-menu>
</mat-toolbar>
