@import '../../styles/variables';

div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 75px 0;
}

mat-card.schema {
  flex: auto;
  max-width: 185px;
  margin: auto;
  min-height: 185px;
  &:hover {
    background-color: gray;
    cursor: pointer;
  }
}

mat-card-content {
  margin: 15px 0 50px;
}

mat-card-actions {
  margin: 25px 0 0 !important;
}
