<div class="login-form">
  <specsh-tabs></specsh-tabs>
  <mat-card>
    <mat-card-content>
      <json-schema-form
        *ngIf="formActive"
        loadExternalAssets="true"
        [(ngModel)]="model"
        [form]="formObject"
        [options]="formOptions"
        framework="material-design"
        (onChanges)="onChanges($event)"
        (onSubmit)="onSubmit($event)"
        (isValid)="isValid($event)"
        (validationErrors)="validationErrors($event)">
      </json-schema-form>
    </mat-card-content>
    <mat-card-footer>
      <specsh-social></specsh-social>
    </mat-card-footer>
  </mat-card>
</div>
