<div class="user-menu">
  <button
    *ngIf="!isAuthenticated"
    mat-button
    (click)="signIn.emit()">Sign In</button>

  <button
    *ngIf="!isAuthenticated"
    mat-button
    (click)="signUp.emit()">Sign Up</button>

  <specsh-themes (themeChange)="themeChange.emit($event)"></specsh-themes>

  <button *ngIf="isAuthenticated"
          mat-icon-button
          [matMenuTriggerFor]="toolbarUserMenu"
  >
    <mat-icon>person</mat-icon>
  </button>

  <mat-menu
    #toolbarUserMenu="matMenu"
  >
    <button
      mat-menu-item
      (click)="logout.emit()">
      <span>Logout</span>
      <mat-icon>power_settings_new</mat-icon>
    </button>
    <button
      mat-menu-item
      routerLink="settings">
      <span>Settings</span>
      <mat-icon>settings</mat-icon>
    </button>
  </mat-menu>
</div>
