$specsh-black-primary: mat-palette($mat-grey, 900, 500, 900);
$specsh-black-accent: mat-palette($mat-green, A200);
$specsh-black-warn: mat-palette($mat-red, A200);

$specsh-black-theme: mat-dark-theme(
  $specsh-black-primary,
  $specsh-black-accent,
  $specsh-black-warn
);
