$specsh-primary: mat-palette($mat-indigo, 800, 300, 900);
$specsh-accent: mat-palette($mat-light-blue);
$specsh-warn: mat-palette($mat-deep-orange, A200);

$specsh-theme: mat-light-theme(
  $specsh-primary,
  $specsh-accent,
  $specsh-warn
);
