$specsh-light-primary: mat-palette($mat-grey, 200, 500, 300);
$specsh-light-accent: mat-palette($mat-brown, 200);
$specsh-light-warn: mat-palette($mat-deep-orange, 200);

$specsh-light-theme: mat-light-theme(
  $specsh-light-primary,
  $specsh-light-accent,
  $specsh-light-warn
);
