$specsh-rhalff-primary: mat-palette($mat-lime, 800, 300, 900);
$specsh-rhalff-accent: mat-palette($mat-light-green, A200);
$specsh-rhalff-warn: mat-palette($mat-deep-orange, A200);

$specsh-rhalff-theme: mat-dark-theme(
  $specsh-rhalff-primary,
  $specsh-rhalff-accent,
  $specsh-rhalff-warn
);
/*
$specsh-primary: mat-palette($mat-indigo, 800, 300, 900);
$specsh-accent: mat-palette($mat-light-blue);
$specsh-warn: mat-palette($mat-deep-orange, A200);

$specsh-theme: mat-light-theme(
    $specsh-primary,
    $specsh-accent,
    $specsh-warn
);
*/
