<div class="schema-layout-form">
    <mat-card>
      <h1>Edit form layout</h1>
      <p>
        Pick one and start editing & commiting.
      </p>
      <mat-card-content>
        <json-schema-form
          *ngIf="true"
          loadExternalAssets="true"
          [form]="form"
          [options]="formOptions"
          framework="material-design"
          (onChanges)="onChanges($event)"
          (onSubmit)="onSubmit($event)"
          (isValid)="isValid($event)"
          (validationErrors)="validationErrors($event)">
        </json-schema-form>
      </mat-card-content>
    </mat-card>
    <div class="schemas">
      <mat-card
          class="schema"
          (click)="changeSchema(schema.name)"
          *ngFor="let schema of schemas"
        >
        <mat-card-header>
          <mat-card-title>
            <h3>{{schema.name}}</h3>
          </mat-card-title>
        </mat-card-header>
          <mat-card-content>
            <p>
              {{schema.schema.description}}
            </p>
          </mat-card-content>
      </mat-card>
    </div>
</div>

<div class="preview">
  <mat-card>
    <json-schema-form
      *ngIf="previewSchema"
      loadExternalAssets="true"
      [schema]="previewSchema"
      [(data)]="previewData"
      [layout]="previewLayout"
      framework="material-design">
    </json-schema-form>
  </mat-card>
</div>
