@import '../../../../styles/variables';

div.schema-layout-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 75px 0;

  > mat-card {
    flex: auto;
    max-width: 580px;
    margin: auto;
    min-height: 185px;
  }

  > mat-card-content {
    margin: 15px 0 50px;
  }

  > mat-card-actions {
    margin: 25px 0 0 !important;
  }
}

/* temp hack for form widget */
nav.mat-tab-nav-bar {
  width: 30%;
  position: absolute;
  left: -450px;
}

.preview {
  top: 100px;
  width: 30%;
  position: absolute;
  right: 0;
}
