formed {
  flex: 6 6 auto;
  box-sizing: border-box;
  min-height: auto;
  display: flex;
  align-items: stretch;
}

mat-sidenav-container {
  display: flex;
  flex-grow: 1
}


textarea.mat-input-element {
  height: 150px;
}

.editor {
  display: flex;
  flex-direction: row;
  height: 100%;
  > button {

  }
  > mat-card.schema-form {
    flex-grow: 6;
  }

  > mat-card.preview {
    flex-grow: 3;
  }
}


