<mat-sidenav-container
>
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')">

    <!-- sidebar [menu]="(menu$ | async)"></sidebar -->
    <sidebar [menu]="menu$ | async"></sidebar>
  </mat-sidenav>

  <div
    class="editor"
  >
    <button
      mat-icon-button
      class="hidden-md-up"
      (click)="sidenav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-card
      class="schema-form"
    >
      <h3>{{documentTitle}}</h3>
      <div [@expandSection]="true">
        <div *ngIf="!formActive">{{jsonFormStatusMessage}}</div>
        <json-schema-form
          *ngIf="formActive"
          loadExternalAssets="true"
          [form]="jsonFormObject"
          [options]="jsonFormOptions"
          [framework]="selectedFramework"
          (onChanges)="onChanges($event)"
          (onSubmit)="onSubmit($event)"
          (isValid)="isValid($event)"
          (validationErrors)="validationErrors($event)">
        </json-schema-form>
      </div>
      <hr>
      <h4 class="default-cursor" (click)="toggleVisible('output')">
        {{visible.output ? '▼' : '▶'}} Form Output
      </h4>
      <div *ngIf="visible.output" fxLayout="column" [@expandSection]="true">
        <div>
          Valid?:
          <strong *ngIf="formIsValid || prettyValidationErrors"
                  [class.text-success]="formIsValid"
                  [class.text-danger]="!formIsValid">
            {{formIsValid ? 'Yes' : 'No'}}
          </strong>
          <span *ngIf="!formIsValid && !prettyValidationErrors">n/a</span>
          <span *ngIf="prettyValidationErrors">— errors from validationErrors():</span>
          <div *ngIf="prettyValidationErrors"
               class="data-bad"
               [innerHTML]="prettyValidationErrors"></div>
        </div>
        <br>
        <div>
          Live data — from onChanges():
          <pre
            [class.data-good]="!prettyValidationErrors && prettyLiveFormData !== '{}'"
            [class.data-bad]="prettyValidationErrors">{{prettyLiveFormData}}</pre>
        </div>
        <br>
        <div>
          Submitted data — from onSubmit():
          <pre [class.data-good]="prettySubmittedFormData !== 'null'">{{prettySubmittedFormData}}</pre>
        </div>
      </div>
    </mat-card>

    <mat-card
      class="preview">
      Here is the markdown preview
      <div [innerHTML]="markdownPreview | marked"></div>
    </mat-card>
  </div>

</mat-sidenav-container>
