<mat-card>
  <mat-card-content>
    <button
      class="mat-raised-button"
      routerLink="/schemas/overview"
      routerLinkActive="active"
      >
      Overview
    </button>

    <button
      class="mat-raised-button"
      routerLink="/schemas/create"
      routerLinkActive="active"
      >
      Create
    </button>
  </mat-card-content>
</mat-card>
