<div class="button-row">
  <button mat-raised-button color="primary" (click)="signIn('github')">github</button>
  <button mat-raised-button color="primary" (click)="signIn('google')">google</button>
</div>
