<mat-card>
  Requirements Document
</mat-card>
<mat-nav-list>
  <div
    *ngFor="let menuItem of menu"
  >
    <a
      mat-list-item
      routerLinkActive="active"
      [routerLink]="menuItem.href">
      {{menuItem.title || menuItem.name}}
    </a>
    <mat-nav-list
      *ngIf="menuItem.children && menuItem.children.length"
      style="margin-left: 30px"
    >
      <a
        *ngFor="let subMenuItem of menuItem.children"
        mat-list-item
        routerLinkActive="active"
        [routerLink]="subMenuItem.href">
        {{subMenuItem.title || subMenuItem.name}}
      </a>
    </mat-nav-list>
  </div>
</mat-nav-list>
