<div class="container">
  <mat-card *ngFor="let menuItem of menu">
    <mat-card-header>
      <mat-card-title>
        <h3>
          <a [routerLink]="menuItem.href">{{menuItem.name}}</a>
        </h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list
        role="list"
      >
        <mat-list-item
          *ngFor="let subMenuItem of menuItem.children"
        >
          <a [routerLink]="subMenuItem.href">{{subMenuItem.name}}</a>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
