div.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 75px 0;
}

mat-card {
  max-width: 250px;
  a {
    text-decoration: none;
  }
}

mat-card-content {
  margin: 15px 0 50px;
}

mat-card-actions {
  margin: 25px 0 0 !important;
}

