<header>
  <navbar
    [isAuthenticated]="isAuthenticated"
    [themeChange]="themeChange"
    [logout]="logout"
    [signIn]="signIn"
    [signUp]="signUp"
  >
  </navbar>
</header>
<router-outlet #o="outlet"></router-outlet>
<footer>
  <app-footer>
  </app-footer>
</footer>
