<mat-card>
  <h1>Add / Edit Schema Set</h1>
  <p>
    Add or edit your schema
  </p>
  <mat-card-content>
    <json-schema-form
      *ngIf="true"
      loadExternalAssets="true"
      [form]="form"
      [data]="data"
      [options]="formOptions"
      framework="material-design"
      (onChanges)="onChanges($event)"
      (onSubmit)="onSubmit($event)"
      (isValid)="isValid($event)"
      (validationErrors)="validationErrors($event)">
    </json-schema-form>
  </mat-card-content>
</mat-card>
