<button mat-icon-button [matMenuTriggerFor]="themeMenu">
  <mat-icon>color_lens</mat-icon>
</button>
<mat-menu #themeMenu="matMenu">
  <ng-template ngFor let-theme [ngForOf]="themes">
    <button mat-menu-item (click)="themeChanged.emit(theme)">{{theme}}</button>
  </ng-template>
</mat-menu>
