<mat-card>
  <mat-card-content>
    <button
      class="mat-raised-button"
      (click)="list($event)">
      List
    </button>

    <button
      class="mat-raised-button"
      (click)="create($event)">
      Create
    </button>
  </mat-card-content>
</mat-card>
